(response:ResponseData) => response.coords match {
{{#responses}}
    /*
    {{this}}
    */
    case ResponseCoords({{code}}, _) => response.body match {
      case Some(body) => util.Failure(new IllegalStateException("TODO - unmarshal $body"))
      case None => util.Failure(new IllegalStateException("response body was empty"))
    }
{{#contents}}
{{/contents}}
{{/responses}}
    case other => util.Failure(new UnsupportedOperationException(s"BUG: {{operationId}}AsResponse can't understand/handle $other"))
}

