{{>licenseInfo}}

package {{modelPackage}}

{{#imports}}import _root_.{{import}}
{{/imports}}

trait Client {
{{#operations}}
    {{#operation}}
        /** {{summary}}
        * {{description}}
        * parameters:
        {{#allParams}}
            * @{{paramName}} : {{dataType}} - {{hasMore}}
        {{/allParams}}
        * @return {{returnType}}
        */
        def {{operationId}}({{#allParams}}{{paramName}} : {{dataType}}{{#hasMore}},{{/hasMore}}{{/allParams}}) = {
            HttpRequest.{{{vendorExtensions.HttpRequestInstance}}}(RequestData(
                path = s"{{vendorExtensions.path-template}}",
                headers = HttpData({{#headerParams}}"{{paramName}}" -> {{paramName}}{{#hasMore}}, {{/hasMore}}{{/headerParams}}),
                cookies = HttpData({{#cookieParams}}"{{paramName}}" -> {{paramName}}{{#hasMore}}, {{/hasMore}}{{/cookieParams}}),
                formData = HttpData({{#formParams}}"{{paramName}}" -> {{paramName}}{{#hasMore}}, {{/hasMore}}{{/formParams}}),
                queryParams = HttpData({{#queryParams}}"{{paramName}}" -> {{paramName}}{{#hasMore}}, {{/hasMore}}{{/queryParams}}),
                body = {{#vendorExtensions.has-body-param}}Option({{bodyParam.paramName}}){{else}}None{{/vendorExtensions.has-body-param}}
            ))
        }
    {{/operation}}
{{/operations}}
}


