(response:ResponseData) => response.coords match {
{{#responses}}
    case ResponseCoords({{code}}, _) => response.body match {
      case Some(body) => util.Try(implicitly[Read[Array[Byte], {{vendorExtensions.parent.vendorExtensions.responseTypes}}]].read(body))
      case None => util.Failure(new IllegalStateException("response body was empty"))
    }
{{#contents}}
{{/contents}}
{{/responses}}
    case other => util.Failure(new UnsupportedOperationException(s"BUG: {{operationId}}AsResponse can't understand/handle $other"))
}

