{{>licenseInfo}}

package {{apiPackage}}

{{#imports}}import _root_.{{import}}
{{/imports}}

trait {{classname}}Client {
{{#operations}}
{{#operation}}
  /** {{summary}}
   * {{description}}
   * parameters:
{{#params}}
   * @{{paramName}} : {{dataType}}
{{/params}}
   * @return {{returnType}}
   */
  def {{operationId}}() = {
    ServiceResponse.notImplemented
  }
{{/operation}}
{{/operations}}
}
