{{>licenseInfo}}

package {{modelPackage}}

{{#imports}}import _root_.{{import}}
{{/imports}}

// title: {{{openAPI.info.title}}}
// appName: {{{appName}}}

{{#openAPI.servers}}
 // description  : {{description}}
 // url  : {{url}}
{{/openAPI.servers}}
object JSClient {

{{#operations}}
    // ===================================
    // pathPrefix : {{pathPrefix}}
    // package : {{package}}
    // classname : {{classname}}
    // ...
{{#operation}}
    //operationId : {{operationId}}
{{/operation}}
{{/operations}}

  /**

{{{ this }}}
    */

}