{{>licenseInfo}}
package {{modelPackage}}

{{#imports}}import _root_.{{import}}
{{/imports}}

extension [A](request: HttpRequest[A]) {
    def asRequest(hostPort: String) = requests.Request(
        request.content.path
    )
}

