{{>licenseInfo}}
package {{modelPackage}}

{{#imports}}import _root_.{{import}}
{{/imports}}

import utest._
import org.scalacheck.*
import Arbitrary.arbitrary

object {{classname}}ClientTest extends TestSuite {
    val tests = Tests{

{{#example-list.example-list}}
        test("client test"){
// Example:
/*
{{asMap}}
*/
        }
{{/example-list.example-list}}
    }
}