{{>licenseInfo}}
package {{apiPackage}}

{{#imports}}import _root_.{{import}}
{{/imports}}

object JVMClient {

    extension [A](request: HttpRequest[A]) {
        def asRequest(hostPort: String) = requests.Request(
            request.content.path
        )
    }

}
