{{>licenseInfo}}
package {{package}}

import utest._
import org.scalacheck.*
import Arbitrary.arbitrary

{{#models}}
{{#model}}
object {{classname}}Test extends TestSuite {
    //val dataArb = Arbitrary(Gen.resultOf({{classname}}))
    val tests = Tests{
        test("test1"){

        }
    }
}

{{/model}}
{{/models}}