{{>licenseInfo}}
package {{package}}

import utest._
import org.scalacheck.*
import Arbitrary.arbitrary

{{#models}}
{{#model}}
object {{classname}}Test extends TestSuite {
    val dataArb = Arbitrary(Gen.resultOf({{classname}}))
    val tests = Tests{
        test("test1"){
          println(dataArb)
        }
        test("test2"){
            1
        }
        test("test3"){
            val a = List[Byte](1, 2)
            a(10)
        }
    }
}

{{/model}}
{{/models}}