{{>licenseInfo}}
package {{package}}

import utest._

{{#models}}
{{#model}}
object {{classname}}Test extends TestSuite {
    val tests = Tests{
{{#schema.examples}}
    /** example:
{{{this}}}
     */
{{/schema.examples}}

{{#schema.example}}
        test("json marshalling"){
            val exampleJason = """{{{this}}}"""
            val instance = {{classname}}.fromJsonString(exampleJason)
            instance.asJsonString ==> exampleJason
        }
{{/schema.example}}
    }
}

{{/model}}
{{/models}}